<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a routerLink="/home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="bi me-2" width="120" role="img" src="assets/images/logo.png" aria-label="Bootstrap">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a [routerLink]="['/home']" routerLinkActive="my-active-link" [routerLinkActiveOptions]="{exact:
                    true}" class="nav-link px-2 text-white">Home</a></li>
                <li><a [routerLink]="['/add']" routerLinkActive="my-active-link" [routerLinkActiveOptions]="{exact:
                    true}" class="nav-link px-2 text-white">Add Freelancer</a></li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header>
<app-spinner></app-spinner>
<router-outlet></router-outlet>
<footer class="footer mt-auto py-2 bg-dark fixed-bottom">
    <div class="container">
      <h5 class="text-center text-white">Bootstrap 5.2 Template</h5>
    </div>
</footer>