<section class="py-2 text-center container" style="margin-bottom: 30px">
    <div class="row py-lg-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light" style="margin-bottom: 10px">Profile</h1>
            <button type="button" class="btn btn-primary btn-sm bd-highlight" routerLink="/home">Back to home</button>
        </div>
    </div>
</section>

<div class="container center">
    <div *ngIf="person; else notFound" class="pd-5 card-box mb-30">
        <div class="card shadow-md mx-auto text-center" style="width: 15rem;">
            <img class="bd-placeholder-img card-img-top" width="50%"  style="padding: 10px 10px 0px 10px;" src="assets/images/default_pp.jpg" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">
                <h3 class="card-title">{{person.name}}</h3>
                <h6 class="card-subtitle mb-2 text-muted">{{person.skill}}</h6>
                <div class="card-text" style="margin-bottom: 10px; margin-top: 15px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg>
                    {{person.phone | phone}}
                </div>
                <p class="card-text text-muted" style="padding: 0px 15px; margin-bottom: 15px;">{{person.notes}}</p>
            </div>
        </div>
    </div>
    <ng-template #notFound class="container">
        <h1 class="text-muted text-center" style="height: 80%;">Data not found</h1>
    </ng-template>
</div>